body {
  margin: 0;
  font-family: Inter, Helvetica, Arial, sans-serif;
  color: #1a1a1a;
  background: #f9f9f7;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

h1, h2, h3, h4, h5, h6 {
  font-family: Georgia, "Times New Roman", serif;
}
